[submodule "aristotle-metaphysics"]
	path = src/works/aristotle-metaphysics
	url = https://github.com/moenarch/aristotle-metaphysics
[submodule "src/works/metaphysics"]
	path = src/works/metaphysics
	url = https://github.com/moenarch/aristotle-metaphysics
